* {
    box-sizing: border-box;
}


#form-container {
    width: 70%;
    max-width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    margin: 5px 2px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

#add-card-btn-holder {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#add-card-btn {
    width: 80px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px 0;
    color : white;
    background-color: #385170;
}

#add-card-btn:hover {
    cursor: pointer;
}