.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.images-container {
    justify-content: center;
    width: 40px;
}

.image-container {
    text-align: center;
    margin-right: auto;
}

.image-container img {
    cursor: pointer;
}