
#card-title {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  width: 500px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.container p {
  text-align: center;
  padding: 7px 0;
  font-size: 12px;
  color: #ececec;
}

.card {
  height: 150px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color:  #ececec;
  border-radius: 12px;
  background-color:  #385170;
  border: 1px solid #ececec;
}

#button-container {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: -5%;
}

#add-card {
  width: 150px;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  border-radius: 12px;
  color: #ececec;
  border: 1px solid #ececec;
  background-color: #385170;
}
