* {
    box-sizing: border-box;
}

#goals {
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
}

#todo {
    display: flex;
    justify-content: space-around;
}

#goal {
    width: 200px;
    padding: 20px 0;
}

#remove, #toggle {
   height: 20px;
   margin-top: auto;
   margin-bottom: auto;
}