* {
  box-sizing: border-box;
}

#new-goal-container {
  width: 70%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 20px auto;
}

#new-goal-container input {
  border-radius: 20px;
  padding: 10px 0;
}

#add-goal-btn {
  width: 25%;
  border: none;
  border-radius: 10px;
  margin: 0 20px;
  background-color: #385170;
  color: white;
  border: 1px solid white;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
}

#add-goal-btn:hover {
  cursor: pointer;
}

#goals {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #385170;
  color: white;
  border-radius: 2px;
}

#todo {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#goal {
  width: 200px;
  padding: 20px 0;
}


#remove,
#toggle {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

#remove, #toggle:hover {
    cursor: pointer;
}

.complete {
  text-decoration: line-through;
}
