* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none
}

.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: #1552F0;
    width: 100vw;
    height: 5vh;
    padding-top: 1vh;
}

.NavLink {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

a.active {
    color: white;
}
