* {
    box-sizing: border-box;
}

#transactions-title {
    text-align: center;
    margin: 100px 0 20px 0;
}

.transaction-container {
    width: 60%;
    max-width: 500px;
    justify-content: space-between;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.transaction {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    background-color: #1552F0;
    margin: 20px 0;
    border-radius: 5px;
}

#transaction {
    width: 60%;
}

#price {
    width: 30%;
}

#no-transactions {
    color: darkred;
    padding: 20px 0;
}