* {
    box-sizing: border-box;
}

#transactions-title {
    font-size: 40px;
    margin: 100px 0 50px 0;
    text-decoration: underline;
}

.transaction-container {
    width: 80%;
    max-width: 400px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.transaction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    border-radius: 14px;
    /* text-align: left; */
    background-color: lightblue;
    height: 70px;
}

#transaction {
    width: 60%;
    text-align: center;
}

#price {
    width: 30%;
}

#no-transactions {
    color: darkred;
    padding: 20px 0;
}