#update-info-title {
    text-align: center;
    padding: 20px 0;
}

#remove-card {
    width: 50vw;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    margin-bottom: 50px;
}

#remove-card-title {
    padding: 20px 0;
}

select, button {
    display: block;
    margin: 0 auto;
    margin-top: 3\10px;
}

#card-select {
    margin-bottom: 30px;
}

#img-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#current-user-img {
   width: 200px;
   border-radius: 10%;
}


#input-container {
    width: 200px;
    text-align: center;
    margin: 10px 0;
}

#img-btn {
    margin: 10px 0;
    background-color: #1552F0;
}

#img-btn:hover {
    cursor: pointer;
}
